/* univercail selector */
* {
  background-color: rgb(250, 217, 223);
}

body {
  background-color: yellow;
}

/* 클래스 선택자 */
.lion {
  background-color: salmon;
}

/* id선택자 */
#bootcamp {
  background-color: green;
}
/* 속성 선택자 */
[title] {
  background-color: #fff;
}
[title^='멋사'] {
  font-size: 24px;
}

/* 자손 결합자 */
.frontend .lion {
  border: 5px solid blue;
}

.like > .lion {
  color: blue;
}

/* 형제 선택자 */
h2 + p {
  font-weight: bold;
}

h2 ~ p {
  color: red;
}

/* 가상요소 선택자:: */
p::first-letter {
  font-size: 60px;
}

::selection {
  background-color: #000;
  color: #fff;
}

h1::before {
  content: '웹 표준 - ';
}

h1::after {
  content: ' - 웹 표준';
}

/* 가상클래스 */
/* 변수를 지정해서 사용가능 */
:root {
  --main-color: '#ff0000';
}

/* hover 모든 곳에 사용가능 */
a:hover {
  background-color: #000;
  color: white;
}
/* focus input, check박스, a, button 등이 있다. */
/* 상황을 선택하는 것 */
a:focus {
  background-color: red;
  color: white;
}
