:root {
  --base-color: #00f;
}

.like {
  color: rgb(255 0 0 / 0.5);
  color: hsla(110, 50%, 20%, 1);
  color: rgb(from #00f r g b/0.5);
}

/* background-color 속성 */

.wrapper {
  background-color: blue;
  padding: 5px;
  .euid {
    background-color: yellow;
  }
}

/* background image/ repeat / position */
.container {
  border: 1px solid red;
  margin-block: 20px;
  /* background-size:
    contain,
    100px 50px;
  background-image: url(/src/assets/images/tree.png), url(/src/assets/images/cloud.png);
  background-repeat: no-repeat, no-repeat;
  background-position:
    50% 0,
    60% 0; */

  /* 색상은 마지막에 하나만 사용가능하다 */
  background:
    url(/src/assets/images/cloud.png) no-repeat 50% 0 /100px 50px,
    url(/src/assets/images/tree.png) no-repeat 60% 0 / contain skyblue;
}

.frontend {
  border: 5px solid blue;
  background-image: linear-gradient(red, green);
  border-radius: 20px;
}
