div {
  background-color: var(--yellow);
  > div:nth-child(1) {
    background-color: var(--pink);
  }
  > div:nth-child(2) {
    background-color: var(--green);
  }
  > div:nth-child(3) {
    background-color: var(--blue);
  }
  > div:nth-child(4) {
    background-color: var(--orange);
  }
}
.like {
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  /* .like-item3 {
    order: -1;
  } */

  div:nth-child(even) {
    order: 1;
  }
}

.lion {
  display: flex;
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  flex-flow: row-reverse wrap;
  padding: 0.5em;
  inline-size: 600px;
  > div {
    inline-size: 150px;
  }
}

.euid {
  block-size: 200px;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}
