/* 컴포넌트 디자인 */
/* 클래스로 줘서 css값 주기~ */
.term {
  background-color: #ffc;

  strong {
    display: block;
    color: #296897;
    font-weight: 700;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

/* 레이아웃 */
