/* 컴포넌트 */
.term {
  font-size: 0.875rem;
  line-height: 1.5;
  display: flow-root;

  strong {
    color: #296897;
    font-weight: 700;
    margin-block-start: -3px;
    margin-block-end: 4px;
  }

  strong,
  p {
    inline-size: calc(100% - 76px);
    float: inline-end;
  }

  img {
    float: inline-start;
  }
}
