/* 아바타 컴포넌트 */

.avatar {
  --avatar-size: 80px;
  --state-size: var(--avatar-size) / 4;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;
  width: var(--avatar-size);
  background: #ffc;
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
  }

  .avatar-state {
    position: absolute;
    /* 연산자 앞뒤에 공백 주의하기 */
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* border: 2px solid var(--border-color); */
    box-shadow: 0px 0px 0px 2px var(--border-color);
    background: var(--disable-color);
    right: 0;
    bottom: 0;

    &.is-online {
      background-color: var(--active-color);
    }
  }
}
