/* 접근성 관련 CSS */
.sr-only {
  background-color: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  border-width: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
