/* 기본 스타일 */
/* css 본문 스타일 */

body {
  font-family: 'SUIT Variable', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.spacing-20 {
  margin: 20px;

  /* a {
    text-decoration: none;
    color: inherit;
    display: block;
  } */

  h1 {
    margin-block: 20px;
  }
}
.ui-component {
  border: 1px solid black;
  padding: 10px;
  margin-block: 10px;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block-start: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}
